
scenario1/Consumer

scenario1/Producer

*.o

40core_log

log

c_sock/tcpserver

go_sock/UDPServer

go_sock/UDPClient

go_sock/TCPClient

*.log

*_log

*_log2

go_sock/TCPServer

go_sock/temp-plot.html
